

.list-container{

    list-style-type: none;
    margin: 0;
    padding: 0;
     
    overflow: hidden;
 

}

.list-view{

    float: left;
}

.list-content{
    background-color:#606977;
    padding: 10px 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 70px;    
}

.detail-container{

    padding-left: 0px;

}

.container{
    margin-top: 20px;
    margin-left: 0px;
}

.edit-list{

    margin-left: -25px;

}