body{

    background-color: #F3DBCF;

}

.list-container{

    list-style-type: none;
    margin: 0;
    padding: 0;
     
    overflow: hidden;
 

}

.list-view{

    float: left;
}

.list-content{
    background-color:#606977;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline;
    margin-right: 70px;    
    padding: 2px 10px 2px 10px;
}

.detail-container{

    padding-left: 20px;
    
}

.container{
    margin-top: 20px;
    margin-left: 20px;
}

.edit-list{

    margin-left: -30px;

}

.list-section {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    display: inline-block;
}

.edit-delete-list-button{

    position: relative;

}

.card-content{

    list-style-type: none;

}

.btn.btn-primary{

    padding: 0px;

 
}

.btn.btn-primary-board{
    
    background-color: transparent;

}



#boardbutton{

    position: relative;
    top: 8px;

}

#boardedit{

    position: relative;
    top: -10px;
    

}

#boardedit:hover{

    border: 2px solid #080808;
    
}

#boardcreate{

    position: relative;
    top: 0px;
    color: rgba(0,0,0,.5);

}

#boardcreate:hover{

    color: black;

}

#logout{

    position: relative;
    left: 1300px;

}

#dropdown{

    padding: 0px;
    position: relative;
    top: 8px;
    color: #606977;
    background-color: transparent;
    border: none;

}