
{% csrf_token %}
    <div >
        <div class="card-title">
            <p class='error-card'></p>
            <p class="card-detail-title"
                id="cardedit"
                contenteditable="true"
               data-title="{{card.title}}"
               data-update="{% url 'update_card' board_id list_id card.id %}">{{card.title}}</p><p class="card-description">in list <a href="#">{{blist.title}}</a></p>
            </div>
       
        <div class="card-description">
            <p >Description:</p><p class="card-detail-label"
            contenteditable="true" 
            data-label="{{card.labels}}"
            data-update="{% url 'update_label' board_id list_id card.id %}">{{card.labels}}</p> 
        </div>

    </div>
