{% block content %}
{% csrf_token %}
<div class="card-containers">
        <ul class="list-view">
            {% for card in cards %} 
                <div class="card-section" id = "cards" data-id = "{{ list_id }}" >
                
                <li class="card-content"
                id="list-{{board_list.id}}"
                data-title="{{ card.title }}"
                data-update="{% url 'card_update' board_id list_id card.id %}" 
                contenteditable="true">{{card.title}}</li>
                

                </div>
            {% endfor %}
        </ul>
</div>

{% endblock %}