{% extends 'trelloapp/trellobase.html' %}
{% block title %}Trello-Dashboard{% endblock %}
{% block board %}<a class="navbar-brand" href="{% url 'detail' pk=board.pk %}">{{board.title}}</a>{% endblock %}

{% block content %}
    <div>
        <form method="POST" novalidate>{% csrf_token %}
            <label>Create New List {{ form.title.label }}</label>
            {{ form.title }}
            <button type="submit">Save</button>
        </form>
    </div>

    <div class="list-container" data-url="{% url 'listviews' pk=board.id %}">
      
    </div>
{% endblock %}