
<div class="list-containers">
    <ul class="list-view">
        {% for list in lists %}
            <div class="list-section" data-cards="{% url 'cardviews' board.id list.id %}">
                <a href="{% url 'addcard' pk=board.id list_id=list.pk %}">Add Card</a>
                    <li class="list-content" data-url="" data-id="{{ list.id }}">{{list.title}}</li>
                        <div class="edit-delete-list-button">
                            <a class="edit-list-button" href="{% url 'addcard' pk=board.id list_id=list.pk %}">Edit List</a>
                        </div>
                            <div data-id="{{ list.id }}" class="card-container" data-url="{% url 'cardviews' board_id=board.id list_id=list.id %}">
                                <!-- card data goes here -->
                                
                            </div>
            </div>
           
        {% empty %}
        <p>no list </p>
        {% endfor %}
    </ul>
</div>
